{% extends "base.html" %}

{% block head %}

    <div class="header">
        <h1 class="about"><a href="/">The Movie Game</a></h1>
    </div>
    
{% endblock %}

{% block content %}

<div class="about">


        <h2> Rules: </h2>

        <p>It's easy! You'll be given a movie title. Name an actor in that movie. Then name another movie that actor was in. And on and on! You will get strikes for incorrect guesses (check your spelling!). Three strikes and yer out!</p> 



        <h2> About: </h2>

        <p>Built with Python/Flask. Data is from <a href="http://www.rottentomatoes.com"> RottenTomatoes.com </a></p> 



</div>

{% endblock %}
