{% extends "base.html" %}

{% block head %}

    <div class="header">
        <h1 class="about"><a href="/">The Movie Game</a></h1>
    </div>
    
{% endblock %}

{% block content %}

<div class="about">


        <h2> Rules: </h2>

        <p>It's easy! You'll be given a movie title. Name an actor in that movie. Then name another movie that actor was in. And on and on! You will get strikes for incorrect guesses (check your spelling!). Three strikes and yer out!</p> 


        <p> You're allowed to name a movie or an actor more than once. However, you can only make a connection between a particular actor and a particular movie once.</p>

        <p> For example: 

        <blockquote> <span class="examples"> The Basketball Diaries </span> > Leonardo Dicaprio >  The Departed >  Mark Wahlberg > <span class="examples"> The Basketball Diaries </span> </blockquote> 

        is allowed. </p>

        <p> But 

        <blockquote> <span class="examples"> The Basketball Diaries </span> > Leonardo Dicaprio > <span class="examples"> The Basketball Diaries </span></blockquote> 

        is not.</p> 


        <h2> About: </h2>

        <p>Built with Python/Flask. Powered by <a href="http://www.themoviedb.org">themoviedb.org</a></p> 
        
        <p>Built with Python/Flask. Data is from <a href="http://www.rottentomatoes.com"> RottenTomatoes.com </a></p> 




</div>

{% endblock %}
