<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
<link href='https://fonts.googleapis.com/css?family=Slabo+27px|Poiret+One|Open+Sans:400,600,700' rel='stylesheet' type='text/css'><title>The Movie Game</title>

<div class='game'>
	<div>

		<h1 id='theEnd'> The End </h1>

		<form method="POST" action="/">
		    <h2 class="finalScore">{{ name }}'s score: {{ score }}</h2>

		    <input id="endSubmit" type="submit" name="submit" value='Play Again!' />
		</form>
		     
		<h3 id="endChain"> * * * * </h3>
		<div class='chain'>
		    {% for item in chain %}
		        <li> {{ item }} </li>
		    {% endfor %}
		</div>
	</div>
</div>
