body {background: #E3DED7;}

body h1 {margin-top: -5px; text-align: center; font-size: 4em; font-family: "cambria";}

li {list-style-type: none;}

input[type=submit] {width: 25%; padding: 20px;}

input:focus {outline-width: 0;}

.game {margin: -20px auto;
       width: 50%;
       background-color: #E3DED7; 
       text-align: center;}
       

#answer {margin: 0;
         height: 40px;
         width: 75%;
         border: solid black;
         border-radius: 10px;}

#resign {margin: 0 auto;}

.bar {font-size: 3em;
      margin: -3px auto 0 auto;}


.chain {margin: 0 auto;
        background: #E3DED7;
        width: 60%;}

#chain-head  {margin: 0 auto 0 auto;
              background: green;
              width: 75%;
              height: 50px;
              line-height: 2.25em;
              font-size: 20px;}

.chain-item  {margin: 0 auto 0 auto;
              width: 75%;
              height: 50px;
              line-height: 2.5em;
              font-size: 20px;}



